.bgcolor.scrolled {
    background-color: black;
    transition: 0.8s ease;
    z-index: 1000000;
}

@font-face {
    font-family: 'roboto';
    src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'rooster';
    src: url(../assets/fonts/MagmaWave\ Caps.otf);
}

nav .logo h2 {
    font-family: 'rooster';
}

body {
    font-family: 'roboto';
    overflow-x: hidden;
}

.sticky-section {
    top: 68px;
    z-index: 100000;
}

.single-card {
    z-index: 100000;
}